/* SCSS Variables */

$color-yellow: #ffd768;
$color-pink: #ffa3c1;
$color-peach: #ffbdac;
$color-lavender: #ef99f7;
$color-purple: #c99dff;
$color-blue: #55bcde;
$color-blue-transparent: #0b232bb6;
$color-blue-dark: #020a0e;
$color-secondary: #140418;
$color-secondary-transparent: hsla(288, 71%, 5%, 0.745);
$color-green-accent: #82e280;


/* Background Photo */
body {
    background-image: url("../images/cartist-3iUE4iEIdJw-unsplash.jpg");
    width:100%;
    background-size:cover;
    background-position:center;
    height:100vh;
    background-attachment: fixed;
}

/* Header Font Styling */
h1, h2, .card-title {
    font-family: "Oswald", sans-serif;
    color: $color-blue;
}

.yellow-text {
    color: $color-yellow;
}

#main-title {
    color: white;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 150%;
    background-color: black;
    color: $color-pink;
    padding: 10px 15px;
}

/* Paragraph font styling */
p, ul {
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* Navbar & Footer Background */
.navbar, footer {
    background-color: black;
}

footer {
    margin-top: auto;
}
 
/* Transparent Background for Page Content */
.transparent-background {
    background-color: black;
    max-width: 85%;
    margin: auto;
    border-radius: 20px;
    border: solid 2px $color-blue;
}

/* Profile Picture Styling */
#profile {
    border-radius: 50%;
    margin: 10px;
}

/* Custom Pink Buttons */
.btn-custom {
    background-color: $color-yellow;
    color: black;
}

hr {
    color: $color-blue;
}

.card {
    border: solid 2px $color-blue;
}
